# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store

# Dataset (kept out of repo)
qoute_dataset.csv
